.moveLeft {
	animation: moveLeft 0.7s;
	animation-fill-mode: both;
}

@keyframes moveLeft {
	from {
		margin-left: 32.5rem;
	}
	to {
		margin-left: 0;
	}
}
.moveRight {
	animation: moveRight 0.7s;
	animation-fill-mode: both;
}

@keyframes moveRight {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 32.5rem;
	}
}
